body {
    font-family: sans-serif;
    background-color: #ccc;
    padding: 0;
    margin: 0;
}

h1 {
    font-family: Helvetica, sans-serif;
    font-size: 2.5rem;
    color: purple;
    text-transform: capitalize;
    font-weight: 300;
    text-align: center;
    border-bottom: 1.5px solid purple;
    letter-spacing: 5px;
}
